table {
    border-collapse: collapse;
    width: 100%
}

table, td {
    border: 1px solid purple;
}

th, td {
    padding: 10px;
    text-align: left;
}
th {
    font-size: 20px;
    border: 2px dotted purple;
    background-color: rgb(207, 170, 229)
}
tfoot {
    font-weight: bold;
}